apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: gpu-platform
  namespace: argocd
spec:
  description: GPU platform components
  sourceRepos:
    - ${REPO_URL}
  destinations:
    - namespace: gpu-operator
      server: https://kubernetes.default.svc
    - namespace: karpenter
      server: https://kubernetes.default.svc
  clusterResourceWhitelist:
    - group: ""
      kind: Namespace
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
    - group: admissionregistration.k8s.io
      kind: MutatingWebhookConfiguration
    - group: admissionregistration.k8s.io
      kind: ValidatingWebhookConfiguration
    - group: rbac.authorization.k8s.io
      kind: ClusterRole
    - group: rbac.authorization.k8s.io
      kind: ClusterRoleBinding
    - group: nvidia.com
      kind: '*'
    - group: karpenter.sh
      kind: '*'
    - group: karpenter.k8s.aws
      kind: '*'
  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'
