aws_region           = "us-east-1"
environment          = "prod"
platform_name        = "gpu-platform"
cluster_name         = "gpu-platform-prod"
domain_name          = "argocd.example.com"
vpc_cidr             = "10.40.0.0/16"
azs                  = ["us-east-1a", "us-east-1b", "us-east-1c"]
public_subnet_cidrs  = ["10.40.0.0/24", "10.40.1.0/24", "10.40.2.0/24"]
private_subnet_cidrs = ["10.40.10.0/24", "10.40.11.0/24", "10.40.12.0/24"]
general_instance_types = ["m6i.large"]
general_desired_size = 3
general_min_size     = 3
general_max_size     = 6

tags = {
  owner      = "platform"
  cost-center = "ml-infra"
  compliance = "baseline"
}
